<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610894749085-s0d81o3c2hicc2k9p1nbadt77evo035h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610894749085-s0d81o3c2hicc2k9p1nbadt77evo035h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610894749085-s1fu77djdua8dnrmedev31tgigohn6ad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIXkHhGIJoJFCQ2QmO37936Z27ZjKEkBk</string>
	<key>GCM_SENDER_ID</key>
	<string>610894749085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodFellas</string>
	<key>PROJECT_ID</key>
	<string>food-fellas-rts94q</string>
	<key>STORAGE_BUCKET</key>
	<string>food-fellas-rts94q.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610894749085:ios:9fd663fcd9e5c6f9d1e374</string>
    <key>GIDClientID</key>
    <string>610894749085-s0d81o3c2hicc2k9p1nbadt77evo035h.apps.googleusercontent.com</string>
</dict>
</plist>
